<nav class="navbar-dark navbar-expand-lg" style="background: black; color: white;">
    <div class="container text-center">
        <a class="navbar-brand p-2 fw-bolder" href="{{url_for('main.index')}}"style="text-decoration:none; color: white;" ></i>Un Minuto Pitch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}"style="text-decoration:none; color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('main.pitches')}}"style="text-decoration:none; color: white;">View Pitches</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('main.addpitches')}}"style="text-decoration:none; color: white;">Add Pitch</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{url_for('main.profile',uname=current_user.username)}}" class="nav-link"style="text-decoration:none; color: white;">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('auth.logout')}}" class="nav-link"style="text-decoration:none; color: white;">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{url_for('auth.login')}}" class="nav-link"style="text-decoration:none; color: white;">Login</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>